@charset "utf-8";

/* Phone */

@import url("mobstyle.css") only screen and (max-width:320px);

/* Tablet */

@import url("tabstyle.css") only screen and (min-width:321px) and (max-width:768px);

/* Desktop */

@import url("deskstyle.css") only screen and (min-width:769px);

/*
 * Noto Sans Bengali (Bengali) http://www.google.com/fonts/earlyaccess
 */

@import url(http://fonts.googleapis.com/earlyaccess/notosansbengali.css);
@font-face {
    font-family: 'Noto Sans Bengali', 'Kalpurush', 'Siyam Rupali', 'SolaimanLipi';
    unicode-range: U+0980-09FF;
    /* Bangla Range (source: http://www.unicode.org/charts/PDF/U0980.pdf) */
}
/*
 * Open Sans
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300);

/*
 * FontAwesome
 */

@font-face {
    font-family: 'FontAwesome';
    src: url('/shohag/_css/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('/shohag/_css/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('/shohag/_css/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('/shohag/_css/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('/shohag/_css/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+F000-F8FF;
}
* {
    font-family: 'Open Sans', 'Verdana', 'Noto Sans Bengali', 'Kalpurush', 'Siyam Rupali', 'SolaimanLipi', 'FontAwesome', sans-serif;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html {
    font-weight: normal;
    min-width: 768px;
    font-size: 16px;
}
a,
p,
span,
strong,
ul,
li,
h1,
h2,
h3,
img {
    padding: 0px;
    margin: 0px;
}
p,
span,
ul,
li {
    color: #6A6767;
}
p {
    margin-top: 10px;
    margin-bottom: 10px;
}
p.header-bar {
    padding: 0;
    margin: 0;
    float: left;
    margin-left: 5px;
    line-height: 20px;
    font-weight: bold;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.5em;
    font-weight: normal;
}
h3 {
    font-size: 18px;
}
a,
a:visited {
    color: #67AA00;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    font-size: 1em;
}
a:hover {
    color: #508400;
    text-decoration: underline;
}
a img,
a:visited img {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
a:hover img {
    box-shadow: 0px 0px 10px #999999;
    -webkit-box-shadow: 0px 0px 10px #999999;
    -moz-box-shadow: 0px 0px 10px #999999;
}
abbr {
    border: 0;
}
ul {
    padding-left: 35px;
}
ul.post-body {
    margin-top: 10px;
    margin-bottom: 10px;
}
.post-details img {
    margin-top: 15px;
    margin-bottom: 15px;
}
.redius-border,
img {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 3px solid #EBEBEB;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #FFFFFF;
}
.text-redius-border {
    margin: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 5px solid #EBEBEB;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
blockquote {
    border-left: 3px solid #67AA00;
    background-color: #F7F7F7;
    padding: 15px;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, .5);
}
blockquote p {
    font-size: 1.1em;
    text-align: left;
    text-shadow: 1px 1px 0px #fff;
}
blockquote p:before {
    content: "\00A0 \00A0 \00A0 \00A0 \0022";
}
blockquote p:after {
    content: "\0022";
}
blockquote:before {
    position: relative;
    font-size: 3em;
    color: rgba(0, 0, 0, .25);
    content: "";
}
blockquote span {
    display: block;
    font-weight: bold;
    text-align: right;
    margin-right: 5%;
}
strong {
    color: #333;
}
/*
 * Text Selection Style
 * -----------------------------------------------------------------------------
 */

::selection {
    background: #508400;
    color: #fff;
    text-shadow: none;
}
/**************************************************************
						Needed
**************************************************************/

.center-text {
    text-align: center !important;
}
.align-middle {
    display: table-cell !important;
    vertical-align: middle;
}
.big-font {
    font-size: 1.5em !important;
}
.very-big-font {
    font-size: 2em !important;
}
.very-very-big-font {
    font-size: 3em !important;
}
.medium-font {
    font-size: 1.3em !important;
}
.small-font {
    font-size: 0.8em !important;
}
.uppercase-text {
    text-transform: uppercase !important;
}
.header-gap {
    height: 25px;
    clear: both;
}
.medium-gap {
    height: 25px;
    clear: both;
}
.fixed-width {
    min-width: 750px;
    max-width: 1000px;
}
.full-wide {
    width: auto;
}
.div-center {
    margin: 0 auto;
}
.div-float-left {
    float: left !important;
}
.div-float-right {
    float: right !important;
}
.shadow-box-01 {
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #67AA00;
    background-color: #F7F7F7;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 15px 10px -7px #999999;
    -moz-box-shadow: 0px 5px 10px -5px #999999;
    -webkit-box-shadow: 0px 5px 10px -5px #999999;
    text-align: center;
    overflow: hidden;
    padding-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.small-gap-picture img {
    margin-left: 25px;
    margin-right: 25px;
}
.message-red {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #FF4800;
    background-color: #F7F7F7;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    box-shadow: 0px 15px 10px -7px #999999;
    -moz-box-shadow: 0px 5px 10px -5px #999999;
    -webkit-box-shadow: 0px 5px 10px -5px #999999;
    text-align: center;
    overflow: auto;
}
.message-red p {
    color: #FF4800;
}
.cur-default {
    cursor: default;
}
.full-height {
    height: 100vh;
}
.width-fifty {
    width: 50%;
    float: left;
}
/**************************************************************
						Color IDs
**************************************************************/

.color01 {
    background-color: #EBEBEB;
    box-shadow: 0px 0px 7px #CCCCCC;
    -moz-box-shadow: 0px 0px 7px #CCCCCC;
    -webkit-box-shadow: 0px 0px 7px #CCCCCC;
}
/**************************************************************
						Intro
**************************************************************/

p.intro-content {
    color: #fff;
    margin-bottom: 25px;
}
blockquote.intro-content {
    background: #222;
}
blockquote.intro-content p,
blockquote.intro-content span {
    color: #fff;
    text-shadow: 1px 1px 0px #000;
}
/**************************************************************
						Nav Bar
**************************************************************/

nav {
    display: block;
    clear: both;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E5E5E5;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.95);
    padding: 0px;
    z-index: 1;
}
#logo {
    margin-top: 2px;
    padding: 0px;
    margin-left: 10px;
    line-height: 30px;
    height: 30px;
    width: 250px;
    float: left;
    background: url(../_images/IW-Logo-Small.png) no-repeat center center;
}
#logo h1 {
    position: absolute;
    top: -2000px;
}
#logo #subtitle h2 {
    width: 250px;
    text-transform: uppercase;
    padding: 0px;
    margin-top: 30px;
    letter-spacing: 9px;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    color: #999;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}
.header-title-divider {
    float: left;
    width: 3px;
    height: 30px;
    margin-top: 10px;
    background-color: #CCC;
}
#subtitle {
    line-height: 15px;
    float: left;
    height: 15px;
    padding-left: 0px;
    font-size: 12px;
}
#topmenu {
    float: right;
    text-transform: uppercase;
    margin-right: 10px;
}
ul#headermenu {
    margin: 0px;
    padding: 0px;
    line-height: 50px;
    height: 50px;
}
ul#headermenu li {
    display: inline;
}
ul#headermenu li a {
    border-top: 3px solid transparent;
    padding-left: 5px;
    padding-right: 5px;
    color: #000;
    padding-top: 13px;
    padding-bottom: 13px;
    transition: border-top-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: border-top-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -moz-transition: border-top-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: border-top-color 0.2s ease-in-out, color 0.2s ease-in-out;
    font-size: .9em;
}
ul#headermenu li a.active,
ul#headermenu li a:hover {
    border-top-color: #67AA00;
    text-decoration: none;
    color: #508400;
}
/**************************************************************
						Contents
**************************************************************/

.content {
    display: block;
    overflow: auto;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 5px;
}
#welcome.content {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 600px;
}
.content #footer-block {
    clear: both;
}
#footer-block {
    background: linear-gradient(to bottom, #C8C8C8 0%, rgba(234, 234, 234, 0) 1%, rgba(234, 234, 234, 0) 99%, #C8C8C8 100%);
    margin: 0px;
}
#footer-block p,
#footer-block a {
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}
.product-big-square-box {
    width: 300px;
    min-height: 300px;
    margin-left: 3%;
    margin-right: 3%;
}
.product-big-square-box img {
    border: 0px none;
    border-bottom: 3px solid #999;
    box-shadow: 0px 15px 5px -10px rgba(0, 0, 0, 0.25);
}
.product-big-square-box:hover img {
    box-shadow: 0px 12px 5px -10px rgba(0, 0, 0, 0.25);
}
.product-big-square-box:hover .productdl {} .product-dis {
    font-size: 14px;
    color: #333;
    padding: 3px;
    color: #777;
}
.product-big-square-box:hover .product-dis {
    color: #333;
}
.product-big-square-box:hover h3 {
    color: #777;
}
.product-big-square-box h3,
.productdl a,
.product-big-square-box img {
    transition: all .2s ease-in-out;
}
.last-box {
    clear: right !important;
}
.clear {
    clear: both;
    height: 0px;
    display: block;
    overflow: hidden;
}
.soft-icon-big-square-box {
    margin: 0 auto;
}
.product-caption h3 {
    font-size: 22px;
    color: #333;
    font-weight: bold;
    padding: 3px;
}
.productdl {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.productdl a {
    font-size: 22px;
    font-weight: bolder;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    background-color: #67AA00;
    box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.05) inset, 1px 1px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.05) inset, 1px 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.05) inset, 1px 1px 3px rgba(0, 0, 0, 0.25);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: outset 7px rgba(0, 0, 0, 0.25);
    color: #FFF;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}
.productdl a:hover {
    padding-top: 9px;
    padding-bottom: 11px;
    text-decoration: none;
    border-bottom-width: 5px;
}
.productdl a:active {
    padding-top: 8px;
    padding-bottom: 12px;
    background-color: #508400;
    text-decoration: none;
    border-bottom-width: 3px;
}
/*************************** About Product ***************************/

.list-no-style {
    list-style: none;
}
.center-text li {
    display: inline-block;
}
.porduct-box {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 175px;
    min-width: 700px;
    max-width: 750px;
    margin-bottom: 20px;
}
.product-picture {
    float: left;
    width: 150px;
    height: 150px;
}
.product-picture img {
    border: 0px none;
    border-bottom: 3px solid #999;
    box-shadow: 0px 15px 5px -10px rgba(0, 0, 0, 0.25);
    transition: all .2s ease-in-out;
}
.porduct-box:hover img {
    box-shadow: 0px 12px 5px -10px rgba(0, 0, 0, 0.25);
}
.porduct-box:hover .product-dis {
    color: #333;
}
.porduct-box:hover h3 {
    color: #777;
}
.porduct-box h3,
.porduct-box img {
    transition: all .2s ease-in-out;
}
.product-discription {
    float: left;
    width: 500px;
    height: 150px;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}
.post-product-picture {
    float: left;
    width: 150px;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 40px;
}
.post-product-picture img {
    box-shadow: 1px 1px 0px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 1px 0px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 0px 2px rgba(0, 0, 0, 0.15);
    border-width: 5px;
}
.post-product-discription {
    float: left;
    width: 480px;
    text-align: left;
    padding-left: 40px;
    padding-top: 5px;
    font-size: 18px;
}
.product-details-dl-box {
    height: auto;
}
.btn-style-01 {
    float: left;
    margin-right: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
}
.btn-style-01 a {
    font-size: 18px;
    font-weight: bolder;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    background-color: #67AA00;
    box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.05) inset, 1px 1px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.05) inset, 1px 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.05) inset, 1px 1px 3px rgba(0, 0, 0, 0.25);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-width: 7px;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-bottom-style: outset;
    color: #FFF;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}
.btn-style-01 a:hover {
    padding-top: 9px;
    padding-bottom: 11px;
    text-decoration: none;
    border-bottom-width: 5px;
}
.btn-style-01 a:active {
    padding-top: 8px;
    padding-bottom: 12px;
    background-color: #508400;
    text-decoration: none;
    border-bottom-width: 3px;
}
/*************************** Announcement ***************************/

.announcement {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #F0F0F0;
    border-bottom: 2px solid #F0F0F0;
}
/*************************** Footer ***************************/

.footercolumn {
    float: Left;
    width: 30%;
    margin-left: 2.5%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 3px;
    border-left-width: 5px;
    border-left-color: rgba(0, 0, 0, .35);
    border-left-style: solid;
}
.firstcolumn {
    margin-left: 0%;
}
.footer-box-title {
    font-size: 16px;
    width: auto;
    font-weight: bold;
    color: #666;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C8C8C8;
}
.footer-box-text {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}
.footer-box-image {
    width: 33%;
    margin-top: 25px;
}
.footer-box-image img:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
/**************************************************************
			            Feed
**************************************************************/

#news-feed {
    margin-left: 25px;
}
.footer-box-feed {
    text-align: left;
}
.footer-box-feed a {
    font-size: 1.3em;
}
.footer-box-feed span {
    font-size: 8px;
}
.footer-box-feed span:before {
    content: "(";
}
.footer-box-feed span:after {
    content: ")";
}
/*************************** Bottom Copyright Line ***************************/

.footerline {
    text-align: center;
    margin: 0px;
    padding: 5px;
    color: #666;
}
.gf-author,
.gf-spacer,
.gf-relativePublishedDate {
    font-size: 12px;
}
/*************************** Extras ***************************/

.divider {
    height: 2px;
    width: 100%;
    display: block;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    background-color: #F0F0F0;
}
/*************************** Post Things ***************************/

.post-title {
    color: #666;
    padding: 5px;
    padding-left: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #FF4800;
}
.title-lng-link {
    float: right;
    margin-top: -30px;
    margin-right: 20px;
    font-weight: bold;
}
.post-pic {
    padding: 5px;
    text-align: center;
}
.post-details {
    font-size: 18px;
    padding: 5px;
    text-align: left;
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
}
.attrnew,
.attrchange,
.attrimproved,
.opensource {
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: 1px 1px 0px #FFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px -1px 0px rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px -1px 0px rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px -1px 0px rgba(0, 0, 0, 0.05) inset;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
    margin-left: 10px;
}
.attrnew {
    background-color: #FFEDCF;
    border-right: 3px solid #F90;
    color: #333;
}
.attrnew:before {
    content: "new";
}
.attrchange {
    background-color: #E9CFFF;
    border-right: 3px solid #8106E0;
    color: #333;
}
.attrchange:before {
    content: "change";
}
.attrimproved {
    background-color: #cff0ff;
    border-right: 3px solid #26ade5;
    color: #333;
}
.attrimproved:before {
    content: "improved";
}
.opensource {
    background-color: #d4ff8f;
    border-right: 3px solid #67a900;
    color: #333;
    margin-left: 15px;
    font-size: .7em;
}
.opensource:before {
    content: "Opensource";
    padding: 2px;
}
/*************************** Apps Box ***************************/

.addedApps {
    margin: 15px 0;
    overflow: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    border-radius: 7px;
}
.appsBox {
    width: 25%;
    float: left;
    text-align: center;
}
.appsBox img {
    width: 100%;
    max-width: 140px;
    margin: 5px 0;
    padding: 0;
    border: 0;
}
.appsBox p {
    margin: 5px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .05);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
}
/************************************************************
 						about page
************************************************************/

.iw-logo {
    height: 200px;
    background-color: #f5f5f5;
    clear: both;
    text-align: center;
    display: block;
}
.iw-logo,
.iw-logo img {
    transition: all .2s ease-in-out;
}
.iw-logo:hover {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
}
.iw-logo:hover img {
    height: 80px;
    width: 400px;
}
.iw-logo img {
    border: none;
    background-color: transparent;
    margin-top: 60px;
    border-radius: 0px;
}
/************************************************************
					Profile Box
************************************************************/

.profile-box {
    width: 300px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.0);
    text-align: center;
    overflow: visible;
    background-color: #fff;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.profile-box:hover {
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.3);
    background-color: #eee;
}
.profile-box-picture {
    height: 150px;
}
.profile-box-picture img {
    padding: 0px;
    margin: 10px;
    border: 5px solid #CCC;
    border-radius: 50%;
}
.profile-box .profile-box-text {
    padding: 1px 5px;
    border: 0px;
    margin: 0px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    max-height: 0px;
    overflow: hidden;
    transition: all .5s ease-in-out;
}
.profile-box:hover .profile-box-text {
    max-height: 500px;
}
.profile-box-text p {
    font-size: .8em;
}
.profile-box-text p strong {
    font-size: 1.2em;
}
/**************************************************************
						Social Icon
**************************************************************/

#we-are-on {
    padding-bottom: 30px;
}
.social {
    margin: 0px;
    margin-top: 2em;
}
.social p span:before {
    top: -15px;
    left: 40%;
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #555;
}
.social p span {
    font-size: 16px;
    width: 150px;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid #555;
    top: 110px;
    left: -12%;
    display: block;
    background-color: #f9f9f9;
    color: transparent;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    visibility: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
}
.social p:hover span {
    visibility: visible;
    top: 130px;
    color: #555;
}
.social p span small {
    font-size: 12px;
    font-weight: normal;
}
.social p span {
    font-weight: bold;
}
ul.social li {
    position: relative;
    display: inline-block;
    padding: 2em;
    width: 60px;
}
ul.social li a {
    text-decoration: none;
    text-shadow: 3px 3px 0px rgba(150, 150, 150, 0.25);
    color: #888;
}
.heart,
.html5,
.css3,
.bd {
    transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
}
.facebook a:hover {
    color: #3b5998;
}
.twitter a:hover {
    color: #00aced;
}
.gplus a:hover {
    color: #dd4b39;
}
.youtube a:hover {
    color: #bb0000;
}
.github a:hover {
    color: #4ea6ea;
}
.heart:hover,
.bd:hover .heart {
    color: #ff0000;
}
.html5:hover {
    color: #e44f26;
}
.css3:hover {
    color: #1572b6;
}
.bd:hover .bdred {
    color: #c85050;
}
.bd:hover .bdgreen {
    color: #6e9600;
}
/**************************************************************
						Site Map
**************************************************************/

.site-map-title {
    font-size: 24px;
    text-align: left;
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #CCCCCC;
}
/**************************************************************
						Backgrounds
**************************************************************/

.bg-001 {
    background: url(/_images/bg_line.png) fixed, rgba(0, 0, 0, .9);
}
.bg-footer {
    background-image: url(/_images/bg-footer.png);
    background-attachment: fixed;
}
/**************** Announcement Message ****************/

div.announcement-msg {
    position: relative;
    top: 55px;
    width: 95%;
    border: 2px solid #ffc800;
    margin: 0 auto;
    background-color: rgba(255, 250, 225, .9);
    border-radius: 10px;
    text-align: center;
}
div.announcement-msg.infooter {
    top: 0;
    margin-bottom: 10px;
}
div.announcement-msg p {
    color: #555;
}
/**************************************************************
						Font Awesome
**************************************************************/

/*!
 *  Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

/* FONT PATH
 * -------------------------- */

.fa {
    display: inline-block;
    //font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */

.fa-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}
.fa-2x {
    font-size: 2em;
}
.fa-3x {
    font-size: 3em;
}
.fa-4x {
    font-size: 4em;
}
.fa-5x {
    font-size: 5em;
}
.fa-fw {
    width: 1.28571429em;
    text-align: center;
}
.fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}
.fa-ul > li {
    position: relative;
}
.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.14285714em;
    text-align: center;
}
.fa-li.fa-lg {
    left: -1.85714286em;
}
.fa-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eeeeee;
    border-radius: .1em;
    /* Changed */
    -webkit-border-radius: .1em;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.fa.pull-left {
    margin-right: .3em;
}
.fa.pull-right {
    margin-left: .3em;
}
.fa-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.fa-rotate-90 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.fa-rotate-180 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.fa-rotate-270 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
.fa-flip-horizontal {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.fa-flip-vertical {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    transform: scale(1, -1);
}
.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.fa-stack-1x {
    line-height: inherit;
}
.fa-stack-2x {
    font-size: 2em;
}
.fa-inverse {
    color: #ffffff;
}
/* Icons */

.fa-facebook:before {
    content: "\f09a";
}
.fa-twitter:before {
    content: "\f099";
}
.fa-google-plus:before {
    content: "\f0d5";
}
.fa-youtube:before {
    content: "\f167";
}
.fa-github:before {
    content: "\f09b";
}
.fa-html5:before {
    content: "\f13b";
}
.fa-css3:before {
    content: "\f13c";
}
.fa-heart:before {
    content: "\f004";
}
.fa-smile-o:before {
    content: "\f118";
}
/**************************************************************
**************************************************************/